<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764761056705-pcmg034sqq38kjied2mgdumsvsjpcvfi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764761056705-pcmg034sqq38kjied2mgdumsvsjpcvfi</string>
	<key>API_KEY</key>
	<string>AIzaSyBXNrcdQGDYvkoyezKBndyn9l0hv2UxncI</string>
	<key>GCM_SENDER_ID</key>
	<string>764761056705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rays.raysonline</string>
	<key>PROJECT_ID</key>
	<string>rays-online</string>
	<key>STORAGE_BUCKET</key>
	<string>rays-online.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764761056705:ios:236760b3adc677c486bb40</string>
	<key>DATABASE_URL</key>
	<string>https://rays-online.firebaseio.com</string>
</dict>
</plist>