<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234109861763-5c4po17d96l07eiiv2qnjtg6kbiveuij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234109861763-5c4po17d96l07eiiv2qnjtg6kbiveuij</string>
	<key>API_KEY</key>
	<string>AIzaSyD0yiNUptyqvGSZXVCDTyznGxumb1nA4ME</string>
	<key>GCM_SENDER_ID</key>
	<string>234109861763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.testpress.ibs</string>
	<key>PROJECT_ID</key>
	<string>testpress-apps-7</string>
	<key>STORAGE_BUCKET</key>
	<string>testpress-apps-7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234109861763:ios:5f6eb51dcc5c8c1f58c0b6</string>
</dict>
</plist>