<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415377538152-h0h1v05v6vm4vl6ol04vp477rpbm27k3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415377538152-h0h1v05v6vm4vl6ol04vp477rpbm27k3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>415377538152-drkd9sa5addm2ob366bdccbqujrj8ma3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBUxq6Fd2-VIuy-6thtbqREdF7jCvY-sfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>415377538152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eenadupratiba</string>
	<key>PROJECT_ID</key>
	<string>eea-apps</string>
	<key>STORAGE_BUCKET</key>
	<string>eea-apps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415377538152:ios:bbecd99f0ad456260b8fdd</string>
</dict>
</plist>