github "Alamofire/Alamofire" "4.4.0"
github "danielgindi/Charts" ~> 3.0.4
github "dekatotoro/SlideMenuControllerSwift" "3.0.2" 
github "hackiftekhar/IQKeyboardManager"
github "Hearst-DD/ObjectMapper" "2.2.5"
github "LaurentiuUngur/LUExpandableTableView" ~> 3.0
github "onevcat/Kingfisher" ~> 3.8.0
github "schickling/Device.swift"
github "sprint84/CropViewController" ~> 1.2
github "xmartlabs/XLPagerTabStrip" ~> 7.0
github "zekunyan/TTGSnackbar" ~> 1.7.1
