github "airbnb/lottie-ios" "4.4.3"
github "facebook/facebook-ios-sdk" "v17.0.1"
github "LaurentiuUngur/LUExpandableTableView"  "3.0.0"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json" == 6.8.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMessagingBinary.json" == 6.8.0
github "getsentry/sentry-cocoa" "8.7.0"
github "ra1028/Former"
