github "airbnb/lottie-ios" "2.5.0"
github "Alamofire/Alamofire" "4.4.0"
github "Alua-Kinzhebayeva/iOS-PDF-Reader" "2.5.1"
github "AssistoLab/DropDown" "v2.3.1"
github "danielgindi/Charts" "v3.0.4"
github "dekatotoro/SlideMenuControllerSwift" "3.0.2"
github "facebook/Facebook-SDK-Swift" "0.5.0"
github "hackiftekhar/IQKeyboardManager" "v5.0.6"
github "Hearst-DD/ObjectMapper" "3.4.0"
github "LaurentiuUngur/LUExpandableTableView"  "3.0.0"
github "onevcat/Kingfisher" "3.8.0"
github "realm/realm-cocoa" "v3.3.2"
github "schickling/Device.swift" "1.1.2"
github "sprint84/CropViewController" "1.2.4"
github "xmartlabs/XLPagerTabStrip" "7.0.0"
github "zekunyan/TTGSnackbar" "1.7.1"
