
p {
  text-align: justify;
  line-height: 1.7rem;
  vertical-align: top;
  margin-top: 0rem;
  margin-bottom: 0;
}

.table-without-border {
    border: initial;
    padding-top: 5px;
    padding-right: 0px;
    line-height: initial;
}

.table-without-padding {
    border-top: 1px solid #e6e6e6;
    padding: 0px;
    line-height: initial;
}

.alphabetical-option-ring-attempted {
    width: 25px;
    height: 25px;
    line-height: 25px;
    flex: 0 0 25px;
    color: #fff;
    background: #ddd;
    border-radius: 50%;
    *zoom: 1;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-family: 'Rubik-Medium', sans-serif;
    font-size: 0.875rem;
}

.alphabetical-option-ring-general {
    width: 25px;
    height: 25px;
    line-height: 25px;
    flex: 0 0 25px;
    border:1px solid #bbb;
    border-radius: 50%;
    color: #aaa;
    background: #fff;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-family: 'Rubik-Medium', sans-serif;
    font-size: 0.875rem;
}

.option-item {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    flex-flow: row;
    color: #444;
    font-family: 'PT-Serif-Regular', serif;
}

.review-option-item {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    flex-flow: row;
    color: #444;
    font-family: 'PT-Serif-Regular', serif;
}

.review-heading {
    text-transform: uppercase;
    display: inline-block;
    color: #333;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 5px;
    font-size: 1rem;
    font-family: 'Rubik-Medium', sans-serif;
}

.review-question-index {
    display: inline-block;
    min-width: 10px;
    margin-top: 15px;
    margin-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 13px;
    padding-left: 13px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 0.9rem;
    color: #484848;
    text-align: center;
    font-family: 'Rubik-Medium', sans-serif;
}

.review-option-item .is-correct {
    color: #00ccaa;
}

.question {
    font-family: 'Rubik-Medium', sans-serif;
    font-size: 1rem;
    color: #444;
    padding: 10px;
}

.question-list-item {
    display: flex;
    flex-flow: row;
}

.question-list-index {
    min-width: 10px;
    margin-top: 15px;
    margin-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 13px;
    padding-left: 13px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 0.9rem;
    color: #484848;
    text-align: center;
    font-family: 'Rubik-Medium', sans-serif;
}

.question-list-content {
    font-family: 'Rubik-Regular', sans-serif;
    font-size: 1rem;
    color: #666;
    margin-top: 12px;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 10px;
}

.review-explanation {
    color: #666;
    font-family: 'PT-Serif-Regular', serif;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.radio-button-unchecked {
    height: 18px;
    width: 18px;
    border:1px solid #ccc;
    box-shadow: inset 0px 0px 1px #000;
    border-radius: 50%;
    background: #fff;
    flex: 0 0 18px;
    margin-right: 10px;
    margin-top: 4px;
}

.radio-button-checked:after {
    display: inline-block;
    line-height: 18px;
    height: 18px;
    width: 18px;
    box-shadow: initial;
    background: #3399ff;
    border: 1px solid #3399ff;
    border-radius: 50%;
    content: '\2022';
    text-shadow: 0 0 1px #555;
    text-align: center;
    font-size: 1.30rem;
    color: #fff;
    flex: 0 0 18px;
    float: left;
    margin-right:10px;
    margin-top: 4px;
}

.checkbox-unchecked {
    height: 13px;
    width: 13px;
    border-style: solid;
    border-width: 2px;
    border-color: #999;
    border-radius: 2px;
    background: #fff;
    flex: 0 0 13px;
    margin-right:10px;
    margin-top: 4px;
}

.checkbox-checked:after {
    display: inline-block;
    line-height: 13px;
    height: 13px;
    width: 13px;
    padding-top: 2px;
    padding-right: 4px;
    padding-left: 0px;
    padding-bottom: 2px;
    background: #3399ff;
    border-color: #3399ff;
    border-radius: 2px;
    content:'\2713';
    font-size:1rem;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    flex: 0 0 13px;
    float: left;
    margin-right:10px;
    margin-top: 4px;
}

.selected-item {
    background-color: rgba(23, 147, 230, 0.1);
}

.subject {
    color: #666;
    font-family: 'PT-Serif-Regular', serif;
    display: inline-block;
}

::placeholder {
    color: #cccccc;
    font-size: 12px;
}

.edit_box {
    font-family: 'Rubik-Regular', serif;
    display: block;
    font-size: 14px;
    line-height: 20px;
    border: solid 1px #cccccc;
    padding: 10px;
    min-height: 20px;
    margin: 20px 20px 20px 10px;
    border-radius: 5px;
    vertical-align: middle;
    word-wrap: break-word;
    -webkit-user-select: text;
    user-select: text;
}

.short_answer_option_item {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    color: #666666;
    text-align: left;
    font-family: 'PT-Serif-Regular', serif;
}

body.watermark::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    height: 200px;
    z-index: -1;
    transform: translateY(10%) rotate(-45deg);
    background-repeat: no-repeat;
    transform-origin: bottom right;
    background-size: 30%;
    background-position: center;
    overflow: hidden;
}

video {
    width: 100%;
    height: auto;
}

.gap_box {
    font-family: 'Rubik-Regular', serif;
    font-size: 14px;
    border:0;
    border-bottom: solid 2px #cccccc;
    padding: 5px;
    min-height: 20px;
    margin: 20px 20px 20px 10px;
    vertical-align: middle;
    word-wrap: break-word;
    -webkit-user-select: text;
    user-select: text;
}

.gap_box:focus, .gap_box:active, .gap_box:hover {
  outline: none;
}
